
<div class="center jumbotron">
      <h1>El Gato</h1>
      <p><%= link_to 'Conócenos', about_path %>  |  Cafetería</p>
      <p><%= link_to "Inicia Sesión", client_login_path, class: "btn btn-primary btn-lg" %> o <%= link_to 'Regístrate!', new_client_path %></p>
</div>
