<h1>Listing all orders</h1>

<table>
    <tr>
        <th>
            Total Cost
        </th>
        <th>
            Date
        </th>
        <th>
            Payment Method
        </th>
        <th>
            Product(s)
        </th>
    </tr>
    <% @order.each do |o| %>
    <tr>
        <td>
            $<%= o.t_cost %>
        </td>
        <td>
            <%= o.date  %>
        </td>
        <td>
            <%= o.payment %>
        </td>
        <td>
            Lista de Productos
        </td>
    </tr>
    <% end %>
</table>



<p>
    <%= link_to 'New Order', new_order_path %>
</p>